body{background-color: #444;}
a{text-decoration: none;}
button{
  background-color: transparent; border: 0;
  padding: 3px 12px; margin: 0 0 0 10px; border-radius: 3px;
}

.btn{background-color: #000; color: #fff;}


/* header */
.header{
  display: flex; justify-content: space-between;
  width: 100%; padding: 2rem 10vw; 
  background-color: #444; color: #fff; 
}
.header .logo{margin-right: 2rem;}
.header .gnb{display: flex; align-items: center; }
.header .utilMenu{display: flex; align-items: center; font-size: 14px;}
.header a{ color: #fff; text-transform: uppercase;}
.header .gnb a{padding: 0 1rem; }
.header .utilMenu a{padding: 0 0.75rem; }



/* Basic Layout */
.container{
  display: flex; gap : 1rem;
  width: 100%; 
  margin: 1rem 0;  padding: 0 10vw; }
.container main,
.container aside{padding : 2em; background-color :#EEE;border-radius: 0.5rem;}
.container main {flex: 4; }
.container aside { flex: 1;}


/* todo */
.content{ padding: 2rem 1rem; }

.menu > button{ margin-right : 1rem ; font : bold 16px 'inherit'; text-decoration : underline; }


.todo li {display: flex; border-bottom: #ddd 1px solid;}

/* 목록페이지 Listpage */
.todo .list{padding: 2rem 0;}
.todo .list .header{text-align: center;}
.todo .list li{display: flex; padding: 0.5rem 0;}
.todo .list li span{flex:2.5; text-align: center;}
.todo .list li span.tno{flex:1;}
.todo .list li span.title{flex:5; text-align: left;}
.todo .list li.header span.title{text-align: center;}

/* 상세페이지 ReadPage, AddPage, ModifyPage item 공통*/
.todo .item {margin: 2rem 0;}
.todo .item li:last-of-type{border:0}
.todo .item li .labelWrap{flex: 1; padding: 0.5rem 1rem; text-align: right;}
.todo .item li .dataWrap{flex: 4; padding: 0.5rem 1rem;}

.todo .item li input{ min-width: 180px; padding: 5px 10px; border: 1px solid #ddd;}
.todo .item li input[type=radio]{ min-width: 30px;}

/* 읽기전용 필드*/
.todo .item li .readOnly input{
  background-color: transparent;
  border: 0;
  outline: 0;
}

.todo .btnGroup{text-align: right;}


.todo .pagination{text-align: center;}
.todo .pagination a{padding: 0 0.5rem;}



